@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');


#credits {
  position:absolute;
  bottom: 0%;
  z-index: -1;
}
#credits a{
  color: white;
  text-decoration: none;
}

#credits a.visited{
  color: white;
  text-decoration: none;
}
#gamebackground {

  width: 100%;
  
  background:url('images/background.png');
  background-repeat: no-repeat; 
  height: 95vh;
  background-size: auto 100vh;
  background-position: center;

}


#gamecontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items:center;
}

h1 {
  font-size: 5vh;
  padding: 2vh;
  margin: 0;
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00247d;
  color: white;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 4vh;


  font-family: 'Bowlby One SC', cursive;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cf142b;
  color: white;
}

canvas {
  background-color: white;
  touch-action: none;
}
body{
  touch-action: none;

  font-family: 'Bowlby One SC', cursive;
  color: #00247d;
  padding: 0;
  margin: 0;
  overflow-y:scroll;
  overflow-x:hidden;

  background-color: blue;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#flag {
  border-style: solid;
  text-align: center;
  width: 97vh;
  height: 58.2vh;
}

#endscreenflag {
  border-style: solid;
  text-align: center;
  width: 30vh;
}

#instructions {
  display: flex;
  width: 100vh;
  height:60vh;
  max-height: 100vh;
  border-style: solid;
  text-align: center;
  overflow:hidden;
  align-items: center;
  flex-direction: column;
  background-color: white;
  justify-content: center;

}

#introtext {
  text-align: center;
  

}

#scoretext{
  margin: auto;
}

#startgame {
  display: flex;
  padding: 2vh;
  font-size: 5vh;
  background-color: #cf142b;
  color: white;
}

#starttext {
  margin: auto auto;
}

#flagcheck {
  display:none;
}
#timer {
  margin-top: 1vh;
  width: 90vh;
  height: 2vh;
  border-style: solid;
  background-color: lightblue;
}
#timerbar {
  height: 100%;
  background-color: #00247d;
}

.endbutton{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #00247d;
  font-size: 3vh;
  padding: 1vh;
  color: white;
}
.buttons {
  margin-top: 1vh;
  border-style: solid;
  border-color: blue;
  width: 90vh;
  display: flex;
  justify-content: space-between;
}
.colorbutton {
  width: 31%;
  height: 3vh;
  border-style: solid;
}



.selectedcolor {
  border-color: green;

}

 a:visited {
    color:white;
    text-decoration:none;

  }
  .twitter-share-button {
    color:white;
    text-decoration:none;
  }

  @media (max-aspect-ratio: 330/325) {
    .buttons {
      width: 90vw;
    }

    #timer {
      width: 90vw;
    }


    #flag {
      width: 95vw;
      height: 57vw;
    }

    h1 {
      font-size: 7vw;
      padding: 0;

    }

    h2 {
      font-size: 4vw;
    }

    #instructions {
      width: 95vw;
      height: 57vw;
      

    }

    #endscreenflag {
      width: 30vw;
    }

    #gamebackground {
      height: 90vw;
      background-size: auto 80vw;
    }

    .endbutton{

      font-size: 3vw;
      padding: 1vw;
    }

    #startgame {
      padding: 2vw;
      font-size: 5vw;
     
    }
  }

  @media (max-aspect-ratio: 330/325) and (min-width: 700px) {
    .buttons {
      width: 90vw;
    }

    #timer {
      width: 90vw;
    }


    #flag {
      width: 80vw;
      height: 48vw;
    }

    h1 {
      font-size: 7vw;
      padding: 0;

    }

    h2 {
      font-size: 4vw;
    }

    #instructions {
      width: 80vw;
      height: 48vw;
      

    }

    #gamebackground {
      height: 90vw;
      background-size: auto 80vw;
    }
  }